@page "/listcalls"
@using KSheet.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<CallContext> CallContextFactory
@inject IJSRuntime JSRuntime

@rendermode InteractiveServer

<PageTitle>List Calls</PageTitle>
<AuthorizeView>
	<NotAuthorized>
		<h2>
			You must be logged in to view this page.
		</h2>
	</NotAuthorized>
	<Authorized>
		<h1>List Calls</h1>
		<h3>Search for a call</h3>

		<div class="row">
			<label for="Id" class="col-4 col-form-label">Id</label>
			<div class="col-8">
				<input id="Id" name="Id" type="number" class="form-control" @bind="@CallSearch.Id">
			</div>
		</div>


		<div class="row">
			<label for="Position" class="col-4 col-form-label">Position</label>
			<div class="col-8">
				<input id="Position" name="Position" type="number" class="form-control" max="160" @bind="@CallSearch.Position">
			</div>
		</div>

		<div class="row">
			<label for="Address" class="col-4 col-form-label">Address</label>
			<div class="col-8">
				<input id="Address" name="Address" type="text" class="form-control" @bind="@CallSearch.Address">
			</div>
		</div>

		<div class="row">
			<label for="PdSignal" class="col-4 col-form-label">Police Signal</label>
			<div class="col-8">
				<input id="PdSignal" name="PdSignal" type="text" class="form-control" @bind="@CallSearch.PdSignal">
			</div>
		</div>

		<div class="row">
			<label for="FdSignal" class="col-4 col-form-label">Fire Signal</label>
			<div class="col-8">
				<input id="FdSignal" name="FdSignal" type="text" class="form-control" @bind="@CallSearch.FdSignal">
			</div>
		</div>

		<div class="row">
			<label for="Incident" class="col-4 col-form-label">Incident</label>
			<div class="col-8">
				<input id="Incident" name="Incident" type="number" max="999999" class="form-control" @bind="@CallSearch.Incident">
			</div>
		</div>

		<div class="row">
			<label for="TimeFrom" class="col-4 col-form-label">From Date</label>
			<div class="col-8">
				<InputDate Type="InputDateType.Date"
						   @bind-Value="@CallSearch.TimeFrom"></InputDate>
			</div>

		</div>

		<div class="row">
			<label for="TimeTo" class="col-4 col-form-label">To Date</label>
			<div class="col-8">
				<InputDate Type="InputDateType.Date"
						   @bind-Value="@CallSearch.TimeTo"></InputDate>
			</div>
		</div>




		<div class="form-group row">
			<div class="offset-4 col-8">
				<button name="submit" type="submit" class="btn btn-primary" @onclick="Search">Submit</button>
			</div>
		</div>



		@if (SearchResults != null && SearchResults.Any())
		{
			<h4>Search Results</h4>
			<div class="table-responsive">
				<table class="table table-striped table-hover table-bordered table-light border-dark">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Time</th>
							<th scope="col">Position</th>
							<th scope="col">Address</th>
							<th scope="col">Police Signal</th>
							<th scope="col">Fire Signal</th>
							<th scope="col">Incident</th>
							<th scope="col">Notes</th>
							<th scope="col">User</th>
							@*
						TODO: EDIT AND DELETE HERE
						*@

						</tr>
					</thead>
					<tbody>
						@foreach (var result in SearchResults)
						{
							<tr>
								<th scope="row">@result.Id</th>
								<td>@result.Time.ToString("yyyy-MM-dd HH:mm")</td>
								<td>@result.Position</td>
								<td>@result.Address</td>
								<td>@result.PdSignal</td>
								<td>@result.FdSignal</td>
								<td>@result.Incident</td>
								<td>@result.Notes</td>
								<td>@result.User</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		}
		else
		{
			<p>No results found</p>
		}

	</Authorized>
</AuthorizeView>
