@using Microsoft.EntityFrameworkCore
@using KSheet3.Data
@rendermode InteractiveServer
@page "/"
@inject IDbContextFactory<CallContext> CallContextFactory

<PageTitle>Call Entry</PageTitle>

@if(ShowCreate)
{
	<h3>Add a new call</h3>
	<div class="row">
		<label for="Position" class="col-4 col-form-label">Position</label>
		<div class="col-8">
			<input id="Position" name="Position" type="number" class="form-control" min="1" max="160" @bind="@NewCall.Position">
		</div>
	</div>
	
	<div class="row">
		<label for="Address" class="col-4 col-form-label">Address</label>
		<div class="col-8">
			<input id="Address" name="Address" type="text" class="form-control" style="text-transform: uppercase;" @bind="@NewCall.Address">
		</div>
	</div>

	<div class="row">
		<label for="PdSignal" class="col-4 col-form-label">Police Signal</label>
		<div class="col-8">
			<input id="PdSignal" name="PdSignal" type="text" class="form-control" style="text-transform: uppercase;" @bind="@NewCall.PdSignal">
		</div>
	</div>

	<div class="row">
		<label for="FdSignal" class="col-4 col-form-label">Fire Signal</label>
		<div class="col-8">
			<input id="FdSignal" name="FdSignal" type="text" class="form-control" style="text-transform: uppercase;" @bind="@NewCall.FdSignal">
		</div>
	</div>

	<div class="row">
		<label for="Notes" class="col-4 col-form-label">Notes</label>
		<div class="col-8">
			<input id="Notes" name="Notes" type="text" class="form-control" style="text-transform: uppercase;" @bind="@NewCall.Notes">
		</div>
	</div>
	<div class="form-group row">
		<div class="offset-4 col-8">
			<button name="submit" type="submit" class="btn btn-primary" @onclick="CreateNewCall">Submit</button>
		</div>
	</div>
}
else
{
	<div class="form-group row">
		<div class="offset-4 col-8">
			<button name="submit" type="submit" class="btn btn-primary" @onclick="ShowCreateForm">Add a New Call</button>
		</div>
	</div>

	@if(@AllCalls is not null && @AllCalls.Count > 0)
	{
		<div class="table-responsive">
			<table class="table table-striped table-hover table-bordered table-light border-dark">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Position</th>
						<th scope="col">Address</th>
						<th scope="col">Police Signal</th>
						<th scope="col">Fire Signal</th>
						<th scope="col">Notes</th>
					</tr>
				</thead>
				<tbody>

					@foreach (var call in @AllCalls)
					{
						<tr>
							<th scope="row">@call.Id</th>
							<td>@call.Position</td>
							<td>@call.Address</td>
							<td>@call.PdSignal</td>
							<td>@call.FdSignal</td>
							<td>@call.Notes</td>
						</tr>
					}
				</tbody>
			</table>
		</div>

	}
}