@page "/listcalls"
@using KSheet3.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<CallContext> CallContextFactory

@rendermode InteractiveServer

<PageTitle>List Calls</PageTitle>

<h1>List Calls</h1>
<h3>Search for a call</h3>

<div class="row">
	<label for="Id" class="col-4 col-form-label">Id</label>
	<div class="col-8">
		<input id="Id" name="Id" type="number" class="form-control" @bind="@CallSearch.Id">
	</div>
</div>


<div class="row">
	<label for="Position" class="col-4 col-form-label">Position</label>
	<div class="col-8">
		<input id="Position" name="Position" type="number" class="form-control" max="160" @bind="@CallSearch.Position">
	</div>
</div>

<div class="row">
	<label for="Address" class="col-4 col-form-label">Address</label>
	<div class="col-8">
		<input id="Address" name="Address" type="text" class="form-control" @bind="@CallSearch.Address">
	</div>
</div>

<div class="row">
	<label for="PdSignal" class="col-4 col-form-label">Police Signal</label>
	<div class="col-8">
		<input id="PdSignal" name="PdSignal" type="text" class="form-control" @bind="@CallSearch.PdSignal">
	</div>
</div>

<div class="row">
	<label for="FdSignal" class="col-4 col-form-label">Fire Signal</label>
	<div class="col-8">
		<input id="FdSignal" name="FdSignal" type="text" class="form-control" @bind="@CallSearch.FdSignal">
	</div>
</div>

<div class="row">
	<label for="Incident" class="col-4 col-form-label">Incident</label>
	<div class="col-8">
		<input id="Incident" name="Incident" type="number" max="999999" class="form-control" @bind="@CallSearch.Incident">
	</div>
</div>

<div class="row">
	<label for="TimeFrom" class="col-4 col-form-label">From Date</label>
	<div class="col-8">
		<InputDate Type="InputDateType.Date"
			 @bind-Value="@CallSearch.TimeFrom"></InputDate>
	</div>

</div>

<div class="row">
	<label for="TimeTo" class="col-4 col-form-label">To Date</label>
	<div class="col-8">
		<InputDate Type="InputDateType.Date"
				    @bind-Value="@CallSearch.TimeTo"></InputDate>
	</div>
</div>




<div class="form-group row">
	<div class="offset-4 col-8">
		<button name="submit" type="submit" class="btn btn-primary" @onclick="Search">Submit</button>
	</div>
</div>



@if(SearchResults != null && SearchResults.Any())
{
	<h4>Search Results</h4>

	<table>
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Position</th>
				<th scope="col">Address</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var result in SearchResults)
			{
				<tr>
					<td>@result.Id</td>
					<td>@result.Position</td>
					<td>@result.Address</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>No results found</p>
}

@code
{

}